@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

html {
 	scroll-behavior: smooth;
}

body {
	font-family: 'Quicksand', sans-serif !important;
}

.navbar {
	box-shadow: 0 2px 10px 2px rgba(0,0,0,0.2);
}

.container .nav-link {
	z-index: 10;
}

.bg-black {
	background-color: black !important;
}

.bg-black .dropdown-menu a {
	color: #fff !important;
}

.bg-black .dropdown-menu a:hover {
	background-color: #222 !important;
	color: #fff !important;
}

.navbar-toggler-icon {
	color: white;
	z-index: 10;
}

/* BUTTONS */
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
	outline: none !important;
	box-shadow: none !important;
}

.btn-primary {
	background: #26AEEF !important;
	border: none;
}

.btn-primary:hover {
	background: #1777B6 !important;
	border: none;
}

/* BADGES */

.badge-primary {
	background: #26AEEF !important;
}

.navbar .nav-link {
	color: #fff !important;
}

.nav-link {
	margin: 15px;
}

.tb-img {
	max-width: 95%;
}

.tb-title {
	font-size: 3em;
	font-weight: 600;
}

.tb-body a {
	font-weight: 600;
}

.micro {
	font-size: .6em;
	font-style: italic;
}

.plan-price {
	margin-top: 15px;
}

.clients {
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 90px;
	color: #b2b9bf;
	max-height: 270px;
}

.clients .client {
	margin-top: 10px;
	width: 33.33%;
	height: 80px;
}

.clients .client-fox {
	margin-top: 0;
	height: 100px;
}

.clients .client .tb-img{
	padding: 0 50px; 
	filter: grayscale(100%) !important;
}

.final-cta {
	background: #f4f4f4;
}

.show-mobile {
	display: none;
}

@media only screen and (max-width: 500px) {
	.tb-title {
		font-size: 2.2em;
		font-weight: 600;
	}
	.tb-img {
	}

	.clients .client .tb-img{
		padding: 0 5px !important; 
	}

	.clients .client {
		margin-top: 10px;
		width: 50%;
		height: 70px;
	}
	.clients .client-fox {
		margin-left: 25%;
		width: 50%;
		height: 100px !important;
	}
}

@media only screen and (max-width: 990px) {
	.hide-mobile {
		display: none;
	}
	.show-mobile {
		display: block;
	}
	.clients .client .tb-img{
		padding: 0 5px !important; 
	}
	.clients .client{
		padding: 0 0 !important; 
		height: 80px;
	}
}